nav {
  background: linear-gradient(to bottom right, darkblue 1%, black 90%);
  color: white;
  display: inline-block;
  padding-left: 12rem;
  line-height: 1;
  width: 100vw;
  height: 8rem;
  z-index: 0;
  box-shadow: 1rem 0 1rem 0.2rem white;
}

nav,
.nav-buttons-section {
  height: 7rem;
}

.nav-header {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  animation: linear;
  animation: intro-from-right 0.45s;
}

.nav-header:hover {
  background-color: rgba(128, 128, 128, 0.61);
}

.navbar-container {
  position: relative;
  display: flex;
  vertical-align: middle;
  width: 100vw;
  height: 15vh;
}

.navbar-banner {
  z-index: 0;
  color: red;
  position: absolute;
  padding-top: 1rem;
  padding-left: 0rem;
  width: 20vw;
  line-height: 30px !important;
  height: 4vh;
  float: left;
  font: 30px Calibri;
}
.navbar-subtitle {
  font: 18px Arial;
}

.nav-total-section {
  position: relative;
  display: flex;
}

.nav-buttons-section {
  position: relative;
  align-content: left;
  display: flex;
  float: right;
  line-height: 5rem;
  width: 75vw;
}

@keyframes intro-from-right {
  0% {
    transform: translate(20rem);
  }

  50% {
    transform: translateX(2rem);
  }

  100% {
    left: 0%;
  }
}

@keyframes navbar-color-shift {
  0% {
    background: linear-gradient(to bottom right, darkblue 0%, black);
  }

  50% {
    background: linear-gradient(to top left, black, black);
  }

  100% {
    background: linear-gradient(to top left, darkblue 80%, black);
  }
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  z-index: 999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #44444493;
  width: 20%;
  box-shadow: 0 0rem 0rem 0 rgba(127, 127, 127, 0.9);
  z-index: 999;
  border-radius: 10%;
}

.dropdown-button {
  height: 20%;
}

.dropdown-content a {
  text-decoration: none;
  text-align: center;
  float: none;
  color: white;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(97, 95, 95, 0.507);
  border-radius: 10%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .navbar-subtitle {
    visibility: collapse;
  }
}
