.media-carousel-container {
  max-width: 600px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 5%;
  position: relative;

  &::scroll-button(left) {
    inset: -8em -1em;
    float: left;
    content: "⬅" / "Scroll Left";
  }
  &::scroll-button(right) {
    inset: -8em 41.5em;
    content: "⮕" / "Scroll Right";
  }

  ::before,
  ::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 150px;
  }

  ::before {
    left: 0;
    top: 0;
  }

  ::after {
    right: 0;
    top: 0;
    transform: rotateZ(-180deg);
  }
}

::scroll-button(*) {
  position: relative;
  padding: 0.5em;
  border-radius: 50%;
}

.media-carousel {
  overflow: hidden;
  display: flex;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 20px 0;
  width: calc(120px * 20);
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.media-carousel-item:nth-child(odd) {
  background: rgba(127, 127, 180, 0.4);
}

.media-carousel-item::scroll-button(:right) {
  position: relative;
  content: ">";
}

.media-carousel-item {
  cursor: pointer;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  text-align: center;
  border: dotted 1px gray;
  border-radius: 5%;
  height: 150px !important;
  overflow-y: hidden;
  align-content: center;
  vertical-align: middle;
  width: 100%;
}

.carousel-item-group {
  display: flex;
  will-change: transform;
}

.media-carousel:hover {
  animation-play-state: paused;
}

.media-carousel-item > img {
  width: 100%;
  object-fit: contain;
}
