.contact-button {
  background-color: green;
  color: white;
  border-radius: 5%;
  padding: 2%;
  max-width: 75%;
  border: none;
  border-spacing: 10px;
  margin: 0px 5px 5px;
}

.contact-button:active {
  background-color: lightgreen;
}

.title-card {
  max-width: 320px !important;
  margin-top: 10rem;
  padding: 1%;
  color: white;
  background-color: rgba(94, 94, 94, 0.75);
  width: 25vw;
  border: 2px solid rgba(233, 233, 233, 0.15);
  float: left;
  border-radius: 5%;
  margin-top: 1rem;
  margin-left: 3%;
  opacity: 85%;
  backdrop-filter: blur(10px);
  z-index: 0;
}

@media screen and (max-width: 640px) {
  .title-card {
    margin-top: 0rem;
    max-width: 320px;
    height: auto;
  }

  .title-card-body {
    width: auto;
    max-width: 45%;
  }
}
