
.toggle-collapse-button {
  position: inherit;
  margin-top: 5rem;
  width: 2%;
  height: 10vh;
  z-index: 999;
}

.title-card-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  backdrop-filter: blur(3px);
  display: none;
}

.title-card-container {
  position: relative;
  margin: 5%;
  display: block;
  z-index: 999;
}

.title-card {
  max-width: 320px !important;
  margin-top: 10rem;
  padding: 1%;
  color: white;
  position: relative;
  background-color: rgba(94, 94, 94, 0.75);
  width: 25vw;
  border: 2px solid rgba(233, 233, 233, 0.15);
  float: left;
  border-radius: 5%;
  margin-top: 1rem;
  margin-left: 3%;
  opacity: 85%;
  z-index: 999;
  display: block;
}

.contact-button {
  background-color: green;
  color: white;
  border-radius: 5%;
  padding: 2%;
  max-width: 75%;
  border: none;
  border-spacing: 10px;
  margin: 0px 5px 5px;
}

.contact-button:active {
  background-color: lightgreen;
}

@media screen and (max-width: 640px) {
    .title-card {
      margin-top: 0rem;
      width: 70vw !important;
      max-width: 320px;
      height: auto;
      position: relative;
    }
    
    .title-card-container {
      display: flex;
      width: 600px;
    }

    .title-card-body {
      width: auto;
      max-width: 85%;
    }

    .title-card-page-overlay {
      display: block;
    }
  }