.contact-button {
  background-color: green;
  color: white;
  border-radius: 5%;
  padding: 2%;
  max-width: 75%;
  border: none;
  border-spacing: 10px;
  margin: 0px 5px 5px;
}

.contact-button:active {
  background-color: lightgreen;
}
